# ocamlbuild working directory
_build/

# Normal npm stuff
node_modules/

# Local OPAM switch
_opam/

# Generated Js file
src/htdocs/map.bc-for-jsoo
src/htdocs/map.bc.js
*.bc

#location data
location.json